pipeline/parameterised_pipeline.json
{
	"name": "parameterised_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "inputsource1",
						"type": "DatasetReference",
						"parameters": {
							"ds_filepath": {
								"value": "@pipeline().parameters.pp_filepath",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_inputdirectory",
								"type": "Expression"
							},
							"ds_filname": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outputsource1",
						"type": "DatasetReference",
						"parameters": {
							"ds_filepath": {
								"value": "@pipeline().parameters.pp_filepath",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_outputdirectory",
								"type": "Expression"
							},
							"ds_filename": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DelimitedText11",
						"type": "DatasetReference",
						"parameters": {
							"ds_filepath": {
								"value": "@pipeline().parameters.pp_filepath",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_inputdirectory",
								"type": "Expression"
							},
							"ds_filename": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "outputJson11",
						"type": "DatasetReference",
						"parameters": {
							"ds_filepath": {
								"value": "@pipeline().parameters.pp_filepath",
								"type": "Expression"
							},
							"ds_directory": {
								"value": "@pipeline().parameters.pp_outputdirectory",
								"type": "Expression"
							},
							"ds_filename": {
								"value": "@pipeline().parameters.pp_filename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "inputdata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().name,'SalesLTProduct.txt')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pp_filename": {
				"type": "String"
			},
			"pp_inputdirectory": {
				"type": "String"
			},
			"pp_filepath": {
				"type": "String"
			},
			"pp_outputdirectory": {
				"type": "String"
			}
		},
		"annotations": []
	}
}